/HIBERNATE/ProductsDemo_Hibernate/nbproject/private/
/HIBERNATE/ProductsDemo/nbproject/private/
/HIBERNATE/ProductsDemo_Hibernate/build/
/HIBERNATE/hibernate/nbproject/private/
/HIBERNATE/hibernate/build/
/HIBERNATE/hibernate/dist/
/HIBERNATE/Hibernate_Spoke/nbproject/private/
/HIBERNATE/Hibernate_Spoke/build/
/APPLICATION CONTROLLER PATTERN/calcAPPController/nbproject/private/
/APPLICATION CONTROLLER PATTERN/calcAPPController/build/
/JAVA CODE EXAMPLES/codeExamples/src/Servelets/ConverterPrj/nbproject/private/
/SERVELETS/ConverterPrj/build/
/SERVELETS/myServlet/nbproject/private/
/SERVELETS/myServlet/build/